html, body {
    background: url(./background.png) no-repeat center center;
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
    font-size: 16px;
    .home {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .controls {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            pointer-events: none;
            article {
                position: absolute;
                background: #ffffff;
                color: #081633;
                height: 50px;
                width: 50px;
                top: 50%;
                transform: translate(0, -50%);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                cursor: pointer;
                pointer-events: all;
                &.prev {
                    left: 25px;
                }
                &.next {
                    right: 25px;
                }
            }
        }
        header {
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 25px 0;
            img.logo {
                height: 100%;
                width: auto;
                margin-right: 60px;
            }
            h1 {
                color: #081633;
                background: #ffffff;
                margin: 0;
                font-size: 4rem;
                padding: 0 75px;
                display: flex;
                flex-direction: row;
                span {
                    background: #081633;
                    width: 5px;
                    height: 64px;
                    display: inline-block;
                    margin: 3px 25px;
                }
                sup {
                    vertical-align: top;
                    font-size: 2rem;
                    line-height: 3rem;
                    margin-right: 13px;
                }
            }
        }
        section.schedule {
            width: calc(100% - 200px);
            flex-grow: 1;
            display: grid;
            grid-template-columns: 55px repeat(7, 1fr);
            grid-template-rows: 55px repeat(4, 1fr);
            grid-gap: 10px;
            box-sizing: border-box;
            margin-bottom: 50px;
            position: relative;
            .liveTime {
                position: absolute;
                height: 3px;
                width: 55px;
                background: #f04a1a;
                opacity: 0;
                z-index: 50;
                &.active {
                    opacity: 1;
                }
            }
            .time {
                background: #ffffff;
                grid-column: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                h1 {
                    margin: 0;
                    transform: rotate(-90deg);
                    color: #aab2d6;
                    font-size: 1.5rem;
                }
                h3, h4 {
                    margin: 5px 0;
                    font-size: 1.3rem;
                    color: #13182e;
                }
            }
            ._11 {
                grid-row: 2;
            }
            ._14 {
                grid-row: 3;
            }
            ._17 {
                grid-row: 4;
            }
            ._20 {
                grid-row: 5;
            }
            .day {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: #ffffff;
                color: #13182e;
                font-size: 1.7rem;
                sub {
                    font-size: 1.2rem;
                    margin-top: 5px;
                }
                &.time {
                    font-size: 1rem;
                }
            }
            ._1 {
                grid-column: 2;
            }
            ._2 {
                grid-column: 3;
            }
            ._3 {
                grid-column: 4;
            }
            ._4 {
                grid-column: 5;
            }
            ._5 {
                grid-column: 6;
            }
            ._6 {
                grid-column: 7;
            }
            ._0 {
                grid-column: 8;
            }
            .stream {
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                padding: 10px;
                text-align: center;
                transition: .2s ease;
                h1 {
                    margin: 0;
                    font-size: 2rem;
                    line-height: 1.7rem;
                    margin-bottom: 15px;
                }
                h4, h5 {
                    margin: 0;
                    font-size: 1.5rem;
                    line-height: 1.4rem;
                }
                h5 {
                    margin-top: 10px;
                }
                h3 {
                    font-size: 1.5rem;
                    line-height: 1.4rem;
                    margin: 0;
                    margin-bottom: 10px;
                }

                &.duration_1 {
                    grid-row-end: span 1;
                }
                &.duration_2 {
                    grid-row-end: span 2;
                }
                &.duration_3 {
                    grid-row-end: span 3;
                }
                &.duration_4 {
                    grid-row-end: span 4;
                }

                &.blue {
                    background: #005491;
                    border: 4px solid #4593d1;
                    color: #ffffff;
                    h1, h4, h5, h3 {
                        text-shadow: 0 0 7px #000000;
                    }
                }
                &.white {
                    background: #ffffff;
                    color: #064372;
                }
                &.pink {
                    border: 4px solid #9a0a2e;
                    color: #ffffff;
                    background: rgb(166,17,59);
                    background: linear-gradient(0deg, rgba(166,17,59,1) 0%, rgba(220,23,79,1) 100%);
                    &.duration_4 {
                        background: rgb(166,17,59);
                        background: linear-gradient(0deg, rgba(166,17,59,1) 0%, rgba(220,23,79,1) 50%, rgba(166, 17, 59, 1) 100%);
                    }
                    h1, h4, h5, h3 {
                        text-shadow: 0 0 7px #000000;
                    }
                }
            }
            pointer-events: none;
            & > .stream {
                pointer-events: auto;
            }
            &:hover > .stream {
                opacity: 0.7;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .expanded {
        position: absolute;
        z-index: 100;
        height: 100vh;
        width: 100%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        top: 0;
        left: 0;
        .bg {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 100;
            background: #000000;
            opacity: 0.6;
        }
        .content {
            width: 1200px;
            height: 410px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            z-index: 101;
            box-shadow: 0 0 25px 0 rgba(0,0,0,0.5);
            display: flex;
            flex-direction: row;
            &.blue {
                background: #005491;
                border: 4px solid #4593d1;
                color: #ffffff;
            }
            &.pink {
                border: 4px solid #9a0a2e;
                color: #ffffff;
                background: rgb(166,17,59);
                background: linear-gradient(0deg, rgba(166,17,59,1) 0%, rgba(220,23,79,1) 50%, rgba(166, 17, 59, 1) 100%);
            }
            &.white {
                background: #ffffff;
                color: #064372;
            }
            .details {
                height: 100%;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-sizing: border-box;
                padding: 25px;
                h1 {
                    font-size: 4rem;
                    margin: 0;
                    line-height: 3.5rem;
                    margin-bottom: 30px;
                }
                h3, h4, h5 {
                    font-size: 2rem;
                    margin: 0;
                    line-height: 1.8rem;
                }
                .starring {
                    height: 75px;
                    max-width: 100%;
                    overflow-x: scroll;
                    position: relative;
                    margin-top: 25px;
                    display: flex;
                    flex-direction: row;
                    padding: 0 10px;
                    .yog {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        background: rgba(255,255,255,0.2);
                        flex-shrink: 0;
                        margin: 0 5px;
                        position: relative;
                        cursor: pointer;
                        img {
                            height: 100%;
                            width: 100%;
                            border-radius: 50%;
                        }
                        .tooltip {
                            pointer-events: none;
                            opacity: 0;
                            position: absolute;
                            white-space: nowrap;
                            top: calc(100% + 5px);
                            left: 50%;
                            transform: translate(-50%, 0);
                            background: #ffffff;
                            color: rgb(166,17,59);
                            padding: 0 10px;
                            height: 20px;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 1rem;
                            transition: .2s ease;
                        }
                        &:hover {
                            .tooltip {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            &.white {
                .details {
                    .starring {
                        .yog {
                            background: rgba(0,0,0,.1);
                            .tooltip {
                                background: #064372;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
            &.blue {
                .details {
                    .starring {
                        .yog {
                            .tooltip {
                                color: #005491;
                            }
                        }
                    }
                }
            }
            .vods {
                height: 100%;
                width: 50%;
                display: flex;
                align-items: center;
                padding: 25px;
                box-sizing: border-box;
                justify-content: center;
                .countdown {
                    h2 {
                        margin: 0;
                        line-height: 1.5rem;
                        font-size: 2rem;
                    }
                    h1 {
                        margin: 0;
                        font-size: 4rem;
                        line-height: 4rem;
                        span {
                            position: relative;
                            &::after {
                                content: attr(data-tooltip);
                                font-size: 1rem;
                                position: absolute;
                                height: 20px;
                                padding: 0 10px;
                                border-radius: 10px;
                                top: calc(100% - 5px);
                                line-height: 1rem;
                                left: 50%;
                                transform: translate(-50%, 0);
                            }
                        }
                    }
                }
                .live {
                    display: flex;
                    flex-direction: column;
                    h1 {
                        margin: 0;
                        text-align: right;
                        font-size: 3rem;
                        margin-top: 5px;
                    }
                }
                .novods {
                    font-size: 1.5rem;
                }
                .allvods {
                    display: flex;
                    flex-direction: column;
                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        height: 40px;
                        padding: 0;
                        margin: 0;
                        margin-top: 10px;
                        overflow: hidden;
                        li {
                            display: flex;
                            flex-grow: 1;
                            align-items: center;
                            justify-content: center;
                            padding: 0;
                            margin: 0;
                            font-size: 1.3rem;
                            border: 2px solid #ffffff;
                            box-sizing: border-box;
                            cursor: pointer;
                            transition: .2s ease;
                            &:first-child {
                                margin-right: 5px;
                            }
                            &:last-child {
                                margin-left: 5px;
                            }
                            svg {
                                margin-left: 5px;
                            }
                            &.twitch:hover, &.twitch.active {
                                background: #6441a5;
                                color: #ffffff;
                            }
                            &.youtube:hover, &.youtube.active {
                                color: #ffffff;
                                background: #c4302b;
                            }
                        }
                    }
                }
            }
        }
    }
}