@font-face {
  font-family: 'Bebas Kai';
  src: local('Bebas Kai Regular'), local('BebasKai'),
      url('./fonts/BebasKai.woff2') format('woff2'),
      url('./fonts/BebasKai.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Bebas Kai';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

img {
  pointer-events: none;
}

* {
  font-weight: normal;
}
